<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activate Your Account</title>
  </head>
  <style>
    body {
      padding: 20px;
    }

    a {
      padding: 10px 15px;
      border-radius: 4px;
      text-decoration: none;
    }

    img {
      height: 50px;
      width: 50px;
    }

    .button {
      color: white;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .title {
      margin: 35px 0;
    }

    .footer {
      margin-top: 35px;
    }
  </style>
  <body style="border-top: 5px solid {{ primary }}">
    <section class="header">
      <img src="{{ logo }}" />
      <a href="{{ website }}" style="color: {{ primary }};"><strong>Visit Website</strong></a>
    </section>

    <section class="title">
      <h2><strong>Almost there!</strong></h2>
      <p>👋 Hey {{ name }},</p>
      <p>You recently created an account for the {{ app }} application. Please use the link below to activate your account.</p>
    </section>

    <a href="{{ url }}" style="background-color: {{ primary }};" class="button">
      Activate Account
    </a>

    <section class="footer">
      <p>The link will expire in 1 hour.</p>
      <p>All the best,</p>
      <p>{{ app }} Team 😊</p>
    </section>
  </body>
</html>
